@import '/src/styles/shared.scss';

.Header {
  z-index: 1100;

  background-color: $active-color;
  box-shadow:  $main-shadow;
}

.NavbarLeft {
  justify-content: flex-start;
  align-items: baseline;

  display: flex;
  padding-right: 30px;
  padding-left: 30px;

  color: $secondary-text-color;
}

.NavbarRight {
  justify-content: flex-end;
  align-items: baseline;

  display: flex;
  padding-right: 30px;
  padding-left: 30px;

  color: $secondary-text-color;
}

.Title {
 
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;


  font-size: 32px;
  line-height: 1.5;
}