@import '/src/styles/shared.scss';

.Header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;

  background-color: $section-color;
  box-shadow:  $main-shadow;
}

.Navbar {
  justify-content: space-between;
  align-items: center;

  display: flex;
  padding-right: 10px;
  padding-left: 10px;

  color: $active-color;

  @media screen and (min-width: $tablet) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.Title {
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;

  font-size: 32px;
  line-height: 1.5;
}


.TitleHidden {
    visibility: hidden;
    display: none;

    @media screen and (min-width: $tablet) {

    visibility:visible;
    display: inline-block;
  }
}