@import '/src/styles/shared.scss';

.Contact {
display: flex;
flex-direction: column;

margin-right: 20px;
}

.Name {
  // margin-bottom: 10px;

  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: capitalize;

   color: $primary-text-color;
}

.C {
  display: flex;
    align-items: center;
}

.Call {
  position: relative;
  display: flex;
  
   margin-right: 10px;
   width: 30px;
  height: 30px;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;

  color: $secondary-button-color;
background-color: transparent;
  border-radius: 50%;

  transform: scale(1);

transition: all $transition-duration $timing-function;
  &:hover,
  &:focus {
    background-color: $hover-small-button-color;
    color: $hover-secondary-button-color
  }

   &:active {

      color: $active-secondary-button-color;
        background-color:$active-small-button-color;

        transform: scale(0.95);
    }  
}

.CallSvg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

.Number {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;

  color: $primary-text-color;
}

.Button{
  position: relative;
  min-width: 40px;
  height:40px;

  color: $svg-color;
  background-color: transparent;
  // background-color: $disabled-button-color;
  
  border: 0;
  border-radius: 50%;

  transform: scale(1);

  transition: all $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $secondary-text-color;
        background-color: $alarm-color;
    }

    &:active {
       color: $secondary-text-color;
        background-color:$alarm-hover-color;

         transform: scale(0.98);
    }  

    &:disabled {
        background-color: lightgrey;
        cursor: auto;
    }
}

.ButtonSvg {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

