$body-color: #f0f2f5;
$active-color: #1877f2;
$section-color:#ffffff;
$alarm-color: #ff0000;
$alarm-hover-color:#bd4a49;

$primary-text-color:#050505;
$secondary-text-color: #ffffff;
$placeholder-text-color: #a9a9a9;

$button-color: #1877f2;
$hover-button-color: #166fe5;
$active-button-color: #29487d;
$secondary-button-color: #42b72a;
$hover-secondary-button-color: #36a420;
$active-secondary-button-color: #2b9217;
$hover-small-button-color: #e6e6e6;
$active-small-button-color:#b3b3b3;
$disabled-button-color:#e4e6eb;

$border-color: #dddfe2;

$svg-color: #5f6368;
$svg-hover-color: #050505;