.Label {
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}

.Input {
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 100%;
  font-size: 20px;
  line-height: 1.5;

  border-radius: 5px;
  box-shadow: -5px -5px 5px -5px rgba(25, 118, 210, 0.6) inset;
}

