@import '/src/styles/shared.scss';

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background-color: $backdrop-color;
}

.Modal {
  position: relative;

  max-width: calc(100vw - 30px);
  max-height: calc(100vh - 24px);
  
  overflow :hidden; 
  
  border-radius: 8px;
  box-shadow: $main-shadow;
}


.Warper{
  display: flex;
  padding: 10px 10px;
  max-width: 350px;
  justify-content: space-evenly;
  
  background-color: $section-color;
 
  border-radius:8px;

  @media screen and (min-width: $tablet) {
    padding: 20px 20px;
  }
}

.Button{
  position: absolute;
  top: 4px;
  right: 4px;

  display: block;
  margin-left: auto;
  width: 36px;
  height: 36px;
  
  color:$svg-color;
  background-color: transparent;
  
  border: 0;
  border-radius: 50%;

  transform: scale(1);

  transition: all $transition-duration $timing-function;

  &:hover,
  &:focus {
    background-color: $small-button-hover-color;
  }

  &:active {
    background-color:$small-button-active-color;
    
    transform: scale(0.95);
  }  
}

.Svg {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24px;
  height: 24px;
  
  transform: translate(-50%, -50%);
}
