@import '/src/styles/shared.scss';

.Footer {
    z-index: 3;
    flex-grow: 0;
    padding: 20px 30px;

    text-align: center;

    background-color: $section-color;
    box-shadow:  $invert-shadow;
}

.Text {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

.Link {
    color: $primary-text;

    &:hover {
        text-decoration: underline;
    }
}