@import '/src/styles/shared.scss';

.ContactsList {
  text-align: left;
}

.ContactsItem {
    display: flex;
    padding: 10px;
    // white-space:normal;
    // overflow-wrap: break-word;
    word-break: break-all;

    align-items: center;
    min-height: 60px;
    justify-content: space-between;

    border-radius: 6px;
    border: 1px solid transparent;

    transition: all $transition-duration $timing-function;;

    &:hover {
      border: 1px solid $secondary-button-color;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
}