@import '/src/styles/shared.scss';

.ContactsList {
  text-align: left;
}

.ContactsItem {
    display: flex;
    padding: 10px;
    word-break: break-word;

    align-items: center;
    min-height: 60px;
    justify-content: space-between;

    border-radius: 6px;
    border: 1px solid transparent;

    transition: all $transition-duration $timing-function;;

    &:hover,
    &:focus {
      border: 1px solid $button-color;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
}